.stat-property {
    display: inline-block;
    margin-right: 20px;
}

table {
    border: 1px solid gray;

}

td {
    border: 1px solid silver;
}

th {
    background-color: rgba(117, 255, 192, 0.27);
    padding-right: 16px;
}


table thead tr .header {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
    max-width: 300px;
    word-wrap: break-word;
}
table tbody tr.odd td {
    background-color:#F0F0F6;
}
table thead tr .headerSortUp {
    background-image: url(../img/asc.gif);
}
table thead tr .headerSortDown {
    background-image: url(../img/desc.gif);
}

.process-list {
    margin: 15px;
}